<% provide(:title, "COVID-19 FAQ") %>

<h1>COVID-19 Frequently Asked Questions</h1>

<br />


<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Q: Do you have hand sanitizer?
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Yes, we do! You will find increased sanitization stations throughout the gym, fully stocked with disinfected spray and hand sanitizer. We want to keep our IndyGym community strong and healthy!      
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Q: Do you have shortened hours?
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Yes, hours have been reduced. We will close at 6pm every day instead of 8pm.      
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Q: What can members do to stay safe? 
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        The CDC recommends you wash your hands for at least 20 seconds with soap and water before using equipment. 
        Remember to disinfect equipment before and after use. Maintain physical distance between members and employees. 
        Lastly, please stay home if you're not feeling well. Don’t worry, we’ll be here for you when you feel better!      
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Q: What is IndyGym's mask policy?
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        Masks are required at all times unless actively working out or in the shower. This includes entering and exiting the facility, 
        cleaning equipment, and while walking on the gym floor between exercises.      
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Q: What if I forget my mask?
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        IndyGym has disposable masks available if a member or guest forgets their mask. We’d be happy to provide one to you!       
      </div>
    </div>
  </div>
</div>



<br /><br /><br /><br /><br />