<p id="notice"><%= notice %></p>
<% provide(:title, "Membership Packages") %>
<h1>Membership Packages</h1>

<br />

<div id = "membershipPkgTable">
<table class ="table table-striped table-bordered">
  <thead>
    <tr>
      <th colspan="3"> Name </th>
      <th colspan="3"> Price </th>
      <th colspan="3"> Amenities </th>
    </tr>
  </thead>
    
    <% @membership_pkgs.each do |e| %>
    <tr>
      <td colspan="3"> <%= e.name %> </td>
      <td colspan="3"> <%= e.price %> </td>
      <td colspan="3"> <%= e.amenities %> </td>
    </tr>
    <%end%>
</table>
</div>
<br /><br /><br /><br />

<blockquote class="blockquote text-center">
  <p class="mb-0"><i>I’m a HUGE gym guy. IndyGym is like my second home. I started out with a basic package. But then I was here so much that I ended up upgrading to Deluxe! IndyGym has changed my life.</i></p>
  <div class="blockquote-footer"> -Bryce <cite title="Source Title"> (Castleton) </cite></div>
</blockquote> 

<!--%= link_to 'New Membership Pkg', new_membership_pkg_path %-->
