<footer class="footer navbar-fixed-bottom">
 
 <br />
<small class ="sample">
   Created by Hannah, Sophie, Kathleen. 
<small>
   <br />
   <small class ="sample">
   All rights reserved. 
<small>
   <br/>
<!--<nav>-->
<!--<ul>-->
<!--   <li>< link_to "About", '#' %></li>-->
<!--   <li>< link_to "Contact", '#' %></li>-->
<!--   <li><a href= "http://www.depauw.edu"> DePauw </a></li>-->
<!--</ul>-->
<!--</nav>-->
</footer>
