<header class = "navbar navbar-fixed-top navbar-inverse">
      <div class = "container">
        <h1 id="header">IndyGym</h1>
        <nav>
        <ul class = "nav navbar-nav">
        <li><a href="www.example.com">Home</a></li>
        <li><%= link_to "Member", controller: "members", action: "index"%></li>
        <li><%= link_to "Membership", controller: "membership_pkgs", action: "index"%></li>
        <li><%= link_to "Classes", controller: "fitness_classes", action: "index"%></li>
        
      </ul>
      </nav>
    </div>
  </header>