<% provide(:title, "Members") %>
<p id="notice"><%= notice %></p>

<h1>Members</h1>
<br />

<div id = "membersTable">
<table class = "table table-hover table-striped table-bordered">
  <thead>
      <tr>
        <th> Name </th>
      </tr>
  </thead>
      
      
  <tbody>
    <% @members.each do |e| %>
    <tr>
      <td> <%= link_to e.name, controller: "members", action: "show", id: e.id %> </td>
    </tr>
    <%end%>
  </tbody>  
</table>
</div>

<br>

<div id="signup">
<%= link_to 'Sign Up as a New Member', new_member_path %>
</div>

<br /><br />
<blockquote class="blockquote text-center">
  <p class="mb-0"><i>IndyGym has always been there for me even in the hardest times. I know that every time I fall IndyGym will be there for me.</i></p>
  <div class="blockquote-footer"> -Stacy <cite title="Source Title">(Broadripple)</cite></div>
</blockquote>
